{{ .Scratch.Set "indexHeader" "true" }} {{ partial "header" . }}

<main>
    <section class="dashed-border" onclick="location.href='#get-started'">
        <header>
            <p class="monthly-yearly">
                <span>Monthly</span>
                <label class="toggle">
                    <input type="checkbox" disabled checked />
                    <span class="slider"></span>
                </label>
                <span>Yearly</span>
            </p>
            <div class="copy-icon">
                <img src="./images/copy.png" width="25" height="25" alt="copy icon" />
            </div>
        </header>
        <aside class="pricing-tier">
            <h3>Free</h3>
            <p class="pricing-sub-head">
                <small>All the basics to get started</small>
            </p>
            <h4>$0 / month</h4>
            <ul class="pricing-features">
                <li><div class="placeholder-content"></div></li>
                <li><div class="placeholder-content"></div></li>
                <li><div class="placeholder-content"></div></li>
            </ul>
        </aside>
        <aside class="pricing-tier pricing-highlight">
            <h3>Standard</h3>
            <p class="pricing-sub-head">
                <small>Powerful integrations and notifications</small>
            </p>
            <h4>$99 / month</h4>
            <ul class="pricing-features">
                <li><div class="placeholder-content"></div></li>
                <li><div class="placeholder-content"></div></li>
                <li><div class="placeholder-content"></div></li>
            </ul>
        </aside>
        <aside class="pricing-tier">
            <h3>Plus</h3>
            <p class="pricing-sub-head">
                <small>Advanced tools to skyrocket your business</small>
            </p>
            <h4>$200 / month</h4>
            <ul class="pricing-features">
                <li><div class="placeholder-content"></div></li>
                <li><div class="placeholder-content"></div></li>
                <li><div class="placeholder-content"></div></li>
            </ul>
        </aside>
    </section>
    {{ partial "beta-signup-form" . }}
</main>

{{ partial "footer" . }}
