{{ partial "header" . }}
{{if eq .File.Dir "blog/"}}
<div class="text-center border-t">
{{else}}
<div>
{{end}}
    <article class="font-sans relative py-24 md:py-28 bg-white overflow-hidden" itemscope itemtype="http://schema.org/BlogPosting">
        {{if eq .File.Dir "/"}} 
            {{ .Content }} 
        {{ else if eq .File.Dir "saas-pricing/order-confirmation/"}} 
            {{ .Content }} 
        {{ else }}
            <header class="relative px-4 sm:px-6 lg:px-8"> 
                <div class="text-lg max-w-prose mx-auto mb-4"> 
                    <h1 class="mt-2 mb-2 text-3xl text-center-DIS leading-8 font-extrabold tracking-tight text-gray-800 sm:text-5xl sm:leading-10" itemprop="name headline">{{ .Title }}</h1> 
                </div> 
                <p class="max-w-prose mx-auto mb-2 text-lg uppercase text-gray-500">
                    <span class="font-bold tracking-wide hidden"><time class="dt-published text-xs" datetime="{{ (.Date.Format "2006-01-02T15:04:05-07:00") }}" itemprop="datePublished"> {{- dateFormat ( or $.Site.Params.dateFormat "Jan 02, 2006" ) $.Page.Params.PublishDate -}} </time></span>
                    {{ partial "tags" . }}
                </p>  
            </header>
            <h5 class="post-description">{{ .Description }}</h5>
            <div class="post-wrapper" itemprop="articleBody">{{ .Content }}</div>
        {{ end }}
    </article>
</div>

{{ partial "footer" . }}
