@tailwind base;
@tailwind components;
@tailwind utilities;

.senja-frame-embed {
    @apply relative z-10;
}

.bg-texture {
    background-color: #efefef;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdbaba' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.post-table-of-contents {
    @apply border bg-gray-200 p-8 mb-8 text-base;
}

.post-table-of-contents a {
    @apply hover:underline;
}

.post-description {
    @apply text-lg mb-8 max-w-prose m-auto pt-4 font-light;
}

.breadcrumbs {
    @apply max-w-3xl mx-auto font-light text-gray-800 mb-8;
}

.post-wrapper, #TableOfContents {
    @apply max-w-3xl mx-auto text-left font-light px-4 sm:px-6 lg:px-8;
}

.post-wrapper {
    @apply px-4 sm:px-6 lg:px-8;
}

.post-wrapper h1 {
    @apply mb-8 font-semibold text-4xl py-4;
}

.post-wrapper h2 {
    @apply text-2xl;
}
.post-wrapper h3 {
    @apply text-xl;
}

.post-table-of-contents h3 {
    @apply mb-2 font-bold uppercase tracking-widest text-gray-500;
}

.post-wrapper h4 {
    @apply text-lg;
}

.post-wrapper h2,
.post-wrapper h3 {
    @apply my-8 font-semibold;
}

.post-wrapper h4 {
    @apply my-4 font-semibold;
}

.post-wrapper p {
    @apply mb-4 leading-7;
}
.post-wrapper hr {
    @apply mb-4;
}

.post-wrapper ul{
    @apply list-disc list-inside font-light;
}

#TableOfContents ul {
    @apply list-decimal list-inside font-light;
}

#TableOfContents ul > li > ul {
    @apply list-disc pl-8;
}

.post-wrapper a {
    @apply text-blue-600 font-bold hover:underline;
}

.post-wrapper a.button {
    @apply focus:outline-none inline-block bg-gradient-to-br from-wedgewood-600 to-wedgewood-700 hover:from-wedgewood-700 hover:to-wedgewood-800 font-semibold rounded-lg py-2 px-8 text-white;
}

.post-wrapper img {
    @apply shadow-xl rounded-lg;
}

.post-wrapper blockquote {
    @apply p-8 italic bg-gray-100 rounded;
}

.post-wrapper code {
    @apply bg-gray-100 p-1 rounded;
}

.post-wrapper ol, .post-wrapper ul {
    @apply list-inside list-decimal py-2;
}

.filter-grayscale {
    filter: grayscale(100%);
}

.border-dashed {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
