@tailwind base;
@tailwind components;
@tailwind utilities;

code::before {
    content: normal!important;
}

code::after {
    content: normal!important;
}

code {
    @apply bg-gray-200 rounded p-1;
}

.senja-frame-embed {
    @apply relative z-10;
}

.bg-texture {
    background-color: #efefef;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdbaba' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.post-table-of-contents {
    @apply p-8 mb-8 text-base;
}

.post-table-of-contents a {
    @apply hover:underline;
}

.post-description {
    @apply text-lg mb-8 max-w-prose m-auto pt-4 font-light;
}

.breadcrumbs {
    @apply max-w-3xl mx-auto font-light text-gray-800 mb-8;
}

.post-wrapper, #TableOfContents {
    @apply max-w-3xl mx-auto text-left font-light px-4 sm:px-6 lg:px-8;
}

.post-wrapper {
    @apply px-4 sm:px-6 lg:px-8;
}

#TableOfContents {
    @apply bg-gray-200 rounded-xl border border-black py-8;
}

#TableOfContents ul {
    @apply list-decimal list-inside font-light;
}

#TableOfContents ul > li > ul {
    @apply list-disc pl-8;
}

.post-wrapper a {
    @apply text-blue-600 font-bold hover:underline;
}

a.button {
    @apply focus:outline-none no-underline hover:no-underline inline-block bg-gradient-to-br from-wedgewood-600 to-wedgewood-700 hover:from-wedgewood-700 hover:to-wedgewood-800 font-semibold rounded-lg py-2 px-8 text-white;
}

a.button-white {
    @apply focus:outline-none no-underline hover:no-underline inline-block font-semibold border rounded-lg py-2 px-8 bg-white text-black hover:bg-gray-200
}

a.button-white-bg {
    @apply focus:outline-none no-underline hover:no-underline font-semibold border rounded-lg py-2 pr-6 pl-6 md:pl-12 bg-white text-black hover:bg-gray-200
}

.post-wrapper img {
    @apply shadow-xl rounded-lg;
}

.post-wrapper blockquote {
    @apply p-8 italic bg-gray-100 rounded;
}

.post-wrapper code {
    @apply p-1 rounded;
}
.filter-grayscale {
    filter: grayscale(100%);
}

.border-dashed {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.flip {
    transform: scaleY(-1);
}
