<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.Title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
        <meta itemprop="name" content="{{.Title}}">
        <meta itemprop="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
        <meta itemprop="image" content='{{ "images/pricewell-logo.png" | absURL }}'>
        <meta property="og:url" content="{{ .Permalink }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{.Title}}">
        <meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
        <meta property="og:image" content='{{ "images/pricewell-logo.png" | absURL }}'>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{.Title}}">
        <meta name="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
        <meta name="twitter:image" content='{{ "images/pricewell-logo.png" | absURL }}'>
        
        <base href="{{ .Site.BaseURL }}" />
        <link type="text/css" rel="stylesheet" href='{{ "css/mvp.css" | absURL }}' />
        <link type="text/css" rel="stylesheet" href='{{ "css/style.css" | absURL }}' />
        <link rel="canonical" href="{{ .Permalink }}" />
        <link rel="icon" href='{{ "images/favicon.png" | absURL }}' />

        <script async defer data-domain="pricewell.io" src="https://stats.pricewell.io/js/index.js"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    </head>

    <body>
        <header>
            <nav>
                <a href="/"
                    ><img alt="pricewell logo" src='{{ "images/pricewell-logo.png" | absURL }}' height="70"
                /></a>
                <ul>
                    <li><a href="./pricing">Pricing</a></li>
                    <li><a href="./integrations">Integrations</a></li>
                    <li><a href="https://app.pricewell.io/login">Login</a></li>
                </ul>
            </nav>

            {{ partial "head" . }} 
                {{ if eq (.Scratch.Get "indexHeader") "true" }} {{ partial "index-header" . }} 
            {{ end }}
        </header>