<div id="pricewell" data-lightspeed="true">
    <div id="1d69d580-5874-4b74-b220-151f18b606f8-wrapper" data-mode="live" class="grid grid-cols-1 gap-2 text-left">
        <header class="flex flex-col items-center"></header>
        <section class="flex flex-col lg:flex-row w-full lg:px-10 place-content-center">
            <div
                class="px-6 py-6 lg:px-4 max-w-sm relative plan1d69d580-5874-4b74-b220-151f18b606f8"
                data-type="monthly"
            >
                <div class="h-full px-4 py-6 border bg-white flex flex-col rounded-lg">
                    <h3 class="tracking-widest">Bootstrapper</h3>
                    <h2
                        class="flex items-center justify-start mt-2 mb-4 font-bold leading-none text-left text-xl lg:text-4xl"
                        style="color: #1d3557"
                    >
                        Free<span class="ml-1 text-base text-gray-600"></span>
                    </h2>
                    <p class="mb-4 text-base leading-relaxed overflow-hidden w-72 mt-4">$0 -$1k MRR</p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />1% Transaction Fee*
                    </p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />Customizable design
                    </p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />Integrated directly with Stripe
                    </p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />Make your first $1k
                    </p>
                    <div class="mt-4 pt-2">
                        <a
                            href="https://app.pricewell.io/register"
                            class="items-end px-8 py-2 font-semibold transition duration-500 ease-in-out transform border rounded-lg shadow-xl focus:shadow-outline focus:outline-none bg-white text-black hover:text-white hover:bg-black hover:border-black payLink1d69d580-5874-4b74-b220-151f18b606f8"
                            rel="noopener noreferrer"
                            >Get Started</a
                        >
                    </div>
                </div>
            </div>
            <div
                class="px-6 py-6 lg:px-4 max-w-sm relative plan1d69d580-5874-4b74-b220-151f18b606f8"
                data-type="monthly"
            >
                <div class="h-full px-4 py-6 border bg-white flex flex-col rounded-lg">
                    <h3 class="tracking-widest">Startup</h3>
                    <h2
                        class="flex items-center justify-start mt-2 mb-4 font-bold leading-none text-left text-3xl lg:text-6xl"
                        style="color: #1d3557"
                    >
                        $100<span class="ml-1 text-base text-gray-600">/mo</span>
                    </h2>
                    <p class="mb-4 text-base leading-relaxed overflow-hidden w-72">$1k - $900K MRR</p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />0.5% Transaction Fee*
                    </p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />Analysis &amp; Insights Dashboard
                    </p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />Feature flag management
                    </p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />A/B test your pricing
                    </p>
                    <div class="mt-4 pt-2">
                        <a
                            href="https://app.pricewell.io/register"
                            class="items-end px-8 py-2 font-semibold transition duration-500 ease-in-out transform border rounded-lg shadow-xl focus:shadow-outline focus:outline-none text-white bg-gradient-to-r from-blue-700 hover:from-blue-600 to-blue-600 hover:to-blue-700 payLink1d69d580-5874-4b74-b220-151f18b606f8"
                            style="background-image: none; background-color: #1d3557"
                            id="46cccc96-4274-48cc-ba0f-c61d46dc621f"
                            rel="noopener noreferrer"
                            >Get Started</a
                        >
                    </div>
                </div>
            </div>
            <div
                class="px-6 py-6 lg:px-4 max-w-sm relative plan1d69d580-5874-4b74-b220-151f18b606f8"
                data-type="monthly"
            >
                <div class="h-full px-4 py-6 border bg-white flex flex-col rounded-lg">
                    <h3 class="tracking-widest">Enterprise</h3>
                    <h2
                        class="flex items-center justify-start mt-2 mb-4 font-bold leading-none text-left text-xl lg:text-4xl"
                        style="color: #1d3557"
                    >
                        Call us<span class="ml-1 text-base text-gray-600"></span>
                    </h2>
                    <p class="mb-4 text-base leading-relaxed overflow-hidden w-72 mt-4"></p>
                    <p class="flex items-center mb-2 text-gray-600">
                        <img
                            src="https://app.pricewell.io/images/feature-icon/circle.png"
                            alt=""
                            class="inline-block w-5 h-5 p-0 mr-2 align-middle bg-white rounded-full"
                        />Get in touch for enterprise pricing
                    </p>
                    <div class="mt-4 pt-2">
                        <a
                            href="mailto:hello@pricewell.io"
                            class="items-end px-8 py-2 font-semibold transition duration-500 ease-in-out transform border rounded-lg shadow-xl focus:shadow-outline focus:outline-none bg-white text-black hover:text-white hover:bg-black hover:border-black payLink1d69d580-5874-4b74-b220-151f18b606f8"
                            rel="noopener noreferrer"
                            >Get in touch</a
                        >
                    </div>
                </div>
                <a
                    href="https://www.pricewell.io/?utm_source=poweredby&amp;utm_medium=web&amp;utm_campaign=1d69d580-5874-4b74-b220-151f18b606f8"
                    class="absolute bottom-0 right-0 text-xs text-gray-400 font-light pr-4 hover:underline"
                    rel="noopener"
                    >Powered By PriceWell.io</a
                >
            </div>
        </section>
    </div>
</div>
<script src="https://snippet.pricewell.io/1d69d580-5874-4b74-b220-151f18b606f8/pricewell.js"></script>
