<div class="py-8 md:px-32 w-full">
    <div class="font-grey-200 text-sm py-8">
        * Transaction Fee applies to new subscriptions started using a PriceWell Pricing Page. Customer Portal does NOT
        have any transaction fees. Stripe Transaction Fees apply on top of our fees.
    </div>

    <details class="cursor-pointer">
        <summary>
            <span class="font-bold mb-2">What is MRR?</span>
        </summary>
        <p class="font-normal text-md">
            Monthly recurring revenue (MRR) is what makes your SaaS tick. It's calculated by adding up the value of all
            your monthly subscriptions in Stripe (minus discounts of course). MRR increases when new customers sign up
            through your PriceWell.io pricing page. MRR decreases when your customers cancel their subscription (churn).
        </p>
    </details>
</div>
