<div class="py-8 md:px-32 w-full">
    <details class="pointer">
        <summary>
            <span class="font-bold mb-2">What is MRR?</span>
        </summary>
        <p class="font-normal text-md">
            Monthly recurring revenue (MRR) is what makes your SaaS tick. It's calculated by adding up the value of all
            your monthly subscriptions in Stripe (minus discounts of course). MRR increases when new customers sign up
            through your PriceWell.io pricing page. MRR decreases when your customers cancel their subscription (churn).
        </p>
    </details>

    <div class="font-grey-200 text-sm pt-8">* excluding Stripe Transaction Fees</div>
</div>
