<iframe
    src="https://www.youtube-nocookie.com/embed/-zInerK-zAg?modestbranding=1&rel=0&color=white&controls=0&widget_referrer=pricewell.io"
    srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black;cursor:pointer;}</style><a href='https://www.youtube-nocookie.com/embed/-zInerK-zAg?autoplay=1&modestbranding=1&rel=0&color=white&controls=0&widget_referrer=pricewell.io&autoplay=1'><img src='{{ $.Site.BaseURL }}/images/promo-thumbnail.jpeg' alt='Introducing PriceWell'><span>▶</span></a>"
    frameborder="0"
    class="w-full aspect-video border rounded-xl shadow-xl"
    title="Introducing PriceWell"
    allow="accelerometer *; autoplay *; clipboard-write *; encrypted-media *; gyroscope *; picture-in-picture *"
    allowfullscreen
></iframe>
