{{ $related := .Site.RegularPages.Related . | first 3 }} {{ with $related }}
<h3
    class="mt-32 mb-8 text-2xl text-center-DIS leading-8 font-extrabold tracking-tight text-gray-800 sm:text-3xl sm:leading-10"
>
    Recommended Reading
</h3>
<div class="grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-8 px-12" itemscope itemtype="http://schema.org/ItemList">
    {{ range . }}

    <div class="flex flex-wrap -m-4" itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">
        <a href="{{ .RelPermalink }}" class="cursor-pointer" itemprop="url">
            <div class="p-4">
                <div class="h-full rounded-xl overflow-hidden text-left">
                    <img
                        class="lg:h-48 md:h-36 w-full object-cover object-center transition-all duration-400 bg-gray-100 rounded-xl"
                        src="https://pricewell-og-images.vercel.app/api/og?title={{.Title}}"
                        alt="blog"
                    />
                    <div class="pt-4">
                        <h4 class="title-font text-lg font-bold text-black mb-3 hover:underline" itemprop="name">{{ .Title }}</h1>
                        <p class="font-light mb-3">{{ .Description }}</p>
                    </div>
                    <div class="pt-6">
                        <div class="flex items-center space-x-4">
                            <img
                                class="w-10 h-10 rounded-full"
                                src="/images/matt.jpg"
                                alt="Matt reid avatar"
                            />
                            <h5>
                                <span class="text-gray-700 title-font font-medium">{{ index (seq 5 | shuffle) 0 }} min read</span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {{ end }}
</div>

{{ end }}
