<div class="py-12 md:py-24 pb-12 lg:pb-16 flex flex-col place-items-center text-lg text-black">
    <div class="w-full max-w-6xl mx-auto">
        <div class="text-center max-w-4xl mx-auto">
            <h3 class="text-4xl md:text-5xl font-bold mb-5">Join Our Happy Customers</h3>
        </div>

        <div class="py-6 mt-16 relative">
            <div class="senja-frame-embed" data-id="9127e7c7-1fbd-4770-b222-34dcc42d398e"></div>
            <script async type="text/javascript" src="https://widget.senja.io/embed/frame.js"></script>
            <div
                class="absolute absolute inset-0 blur-lg opacity-25 rounded-xl mx-12"
                style="
                    background: linear-gradient(
                        90deg,
                        #44ff9a -0.55%,
                        #44b0ff 22.86%,
                        #8b44ff 48.36%,
                        #ff6644 73.33%,
                        #ebff70 99.34%
                    );
                "
            ></div>
        </div>
    </div>
</div>
