<div class="py-12 md:py-24 pb-12 lg:pb-16 flex flex-col place-items-center">
    <div class="w-full max-w-6xl mx-auto">
            <div class="text-center max-w-4xl mx-auto">
                <h1 class="text-4xl md:text-5xl font-bold mb-5 text-gray-600">What our customers are saying</h1>
                <div class="text-center mb-10">
                    <span class="inline-block w-1 h-1 rounded-full bg-wedgewood-500 ml-1"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-wedgewood-500 ml-1"></span>
                    <span class="inline-block w-40 h-1 rounded-full bg-wedgewood-500"></span>
                    <span class="inline-block w-3 h-1 rounded-full bg-wedgewood-500 ml-1"></span>
                    <span class="inline-block w-1 h-1 rounded-full bg-wedgewood-500 ml-1"></span>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
               <div class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light">
                        <div class="w-full flex mb-4 items-center">
                            <div class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200">
                                <img src="/img/testimonials/testimonial-julian.jpeg" alt="">
                            </div>
                            <div class="flex-grow pl-3">
                                <h6 class="font-bold text-sm uppercase text-gray-600">Julian</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-sm leading-tight"><span class="text-lg leading-none italic font-bold text-gray-400 mr-1">"</span>Straightforward ... because you don't have to code to get it running and you get a pricing page as well.<span class="text-lg leading-none italic font-bold text-gray-400 ml-1">"</span></p>
                        </div>
                    </div>
                    <div class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light">
                        <div class="w-full flex mb-4 items-center">
                            <div class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200">
                                <img src="/img/testimonials/testimonial-lucas.jpeg" alt="">
                            </div>
                            <div class="flex-grow pl-3">
                                <h6 class="font-bold text-sm uppercase text-gray-600">Lucas - Loopcv</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-sm leading-tight"><span class="text-lg leading-none italic font-bold text-gray-400 mr-1">"</span>PriceWell has really improved our customer’s payment experience and reduced our development time significantly. Best part of it was the fast and effective integration. It only took us some minutes of setup!<span class="text-lg leading-none italic font-bold text-gray-400 ml-1">"</span></p>
                        </div>
                    </div>
                    <div class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light">
                        <div class="w-full flex mb-4 items-center">
                            <div class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200">
                                <img src="/img/testimonials/testimonial-simon.jpeg" alt="">
                            </div>
                            <div class="flex-grow pl-3">
                                <h6 class="font-bold text-sm uppercase text-gray-600">Simon - ecopureroom</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-sm leading-tight"><span class="text-lg leading-none italic font-bold text-gray-400 mr-1">"</span>I have another site needing the subscription facility, we’ll look at that.<span class="text-lg leading-none italic font-bold text-gray-400 ml-1">"</span></p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>