<div class="flex -space-x-2 overflow-hidden mb-6 lg:mb-8 xl:mb-10">
    <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="/img/testimonials/testimonial-nico.jpeg"
        alt=""
    />
    <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="/img/testimonials/testimonial-ronan.jpeg"
        alt=""
    />
    <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="/img/testimonials/testimonial-steven.jpeg"
        alt=""
    />
    <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="/img/testimonials/testimonial-julian.jpeg"
        alt=""
    />
    <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="/img/testimonials/testimonial-milly.jpeg"
        alt=""
    />
    <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="/img/testimonials/testimonial-jon.jpeg"
        alt=""
    />
</div>
