<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{term}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta itemprop="name" content="{{term}}">
        <meta itemprop="description" content="">
        <meta itemprop="image" content='https://www.pricewell.io/images/pricewell-logo.png'>
        <meta property="og:url" content="https://www.pricewell.io/blog/template/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{term}}">
        <meta property="og:description" content="">
        <meta property="og:image" content='https://www.pricewell.io/images/pricewell-logo.png'>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{term}}">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content='https://www.pricewell.io/images/pricewell-logo.png'>
        
        <base href="https://www.pricewell.io/" />
        <link type="text/css" rel="stylesheet" href='https://www.pricewell.io/css/mvp.css' />
        <link type="text/css" rel="stylesheet" href='https://www.pricewell.io/css/style.css' />
        <link rel="canonical" href="https://www.pricewell.io/blog/template/" />
        <link rel="icon" href='https://www.pricewell.io/images/favicon.png' />

        <script async defer data-domain="pricewell.io" src="https://stats.pricewell.io/js/index.js"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    </head>

    <body>
        <header>
            <nav>
                <a href="/"
                    ><img alt="pricewell logo" src='https://www.pricewell.io/images/pricewell-logo.png' height="70"
                /></a>
                <ul>
                    <li><a href="./pricing">Pricing</a></li>
                    <li><a href="./integrations">Integrations</a></li>
                    <li><a href="./signup">Sign Up</a></li>
                </ul>
            </nav>

             
                
        </header>

<main>
    <div>
        <h1>{{term}}</h1>
        <h5></h5>
        

    </div>
     
    <div><p>{{{BAR}}}</p>
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<p>Building a pricing pages for a SaaS business is not easy.
If you are looking for {{term}} you are in the right place.
We have been studying and developing websites for the last 10 years, and at some point
we realised that building a pricing page from scratch is something that no one really wants<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
Most of us try to find templates or other examples to start with, but at some point it starts becoming a real issue. The marketing team starts asking <!-- raw HTML omitted -->how prices should go up<!-- raw HTML omitted -->, or how nice it would be to <!-- raw HTML omitted -->A/B test different pricing options<!-- raw HTML omitted --> and measure where is the perfect spot, or how a very simple <!-- raw HTML omitted --> change in the description <!-- raw HTML omitted --> of the pricing plan will affect the conversion rates <!-- raw HTML omitted --><!-- raw HTML omitted -->
For the developer those small things mean touching the code, every single time.<!-- raw HTML omitted -->
Wait, but you already use a CMS (Content management system) like wordpress to change the content without having to dive into the code for any simple new blog post, or a change in the copy of an article. <!-- raw HTML omitted --><!-- raw HTML omitted -->
This is why we decided to build <!-- raw HTML omitted -->Pricewell<!-- raw HTML omitted -->, the easiest way to integrate payments and interact with your pricing page. Easy to set up, accessible from a dashboard, and super simple to integrate with a landing page in seconds, by a simple copy pasting. This is Pricewell.</p>
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<!-- raw HTML omitted -->
<p>{{{BAREND}}}</p>
</div>

</main>


        <footer>
            <hr />
            <p>
                <small>PriceWell © 2020. All rights reserved.</small>
                <small><a href="./terms">Terms</a></small> |
                <small><a href="./privacy">Privacy</a></small> |
                <small><a href="./blog">Blog</a></small> 
            </p>
        </footer>
    </body>
</html>
